vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
#app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
app/public/js/app.js
app/public/js/test.js
app/public/css/app.css
app/public/mix-manifest.json
gdr-engine-net/.vs/gdr-engine-net/v16/Server/sqlite3/db.lock
gdr-engine-net/.vs/gdr-engine-net/v16/.suo
gdr-engine-net/.vs/gdr-engine-net/v16/Server/sqlite3/storage.ide-shm
gdr-engine-net/.vs/gdr-engine-net/v16/Server/sqlite3/storage.ide-wal
gdr-engine-net/.vs/gdr-engine-net/v16/.suo
gdr-engine-net/.vs/gdr-engine-net/v16/Server/sqlite3/storage.ide
